*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
:root{
    --DarkBlue: #6688b3;
    --Gray: #999999;
    --White:#ffffff;
}
.inactive {
    display: none;
}
.cuadro-calculo .inactive{
    display:none;
}
body{
    background-color: var(--DarkBlue);
    height: 100vh;
    width: 100vw;
}
.encabezado{
    margin-top: 5vh;
    height: 20vh;
}
h1{
    text-align: center;
    color: var(--White);
    font-size: 4rem;
}
h2{
    text-align: center;
    color: var(--White);
    margin-top: 5%; 
}
main{
    height: 75vh;
    width: 50vw;
    width: auto;
    display: flex;
    justify-content: center;
}
.fondo{
    background-color: var(--Gray);
    padding: 0.5%;
    height: 75%;

    border-radius: 40px;
}
p{
    color: var(--Gray);
}

.cuadro-calculo{
    height: 85%;
    width: 100%;
    background-color: var(--White);
    border-radius: 40px;
}
.encabezado-calc{
    height: 15%;
    width: 100%;
    justify-content:baseline;
    padding-left: 2%;
}
.encabezado-calc div{
    font-size: 2rem;
    color: var(--Gray);
    background-color: var(--White);
    width: 100%;
    height: 100%;
    border-top-right-radius: 40px;
}
.ingreso-disponible-letras{
    border-top-left-radius: 40px;
}
.ingreso-disponible-letras p{
    margin-left: 2%;
    font-size: 1.5rem;
    padding-top: 2%;
}
.ingreso-disponible-num-div{
    border-top-right-radius: 40px;
}

.cuadro-ingresos{
    background-color: var(--White);
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    flex-direction: column;
}
.cuadro-ingresos .titulos{
    padding: 1.5%;
    padding-left:4%;
    font-weight: 800;
    
}
.cuadro-ingresos .instrucciones{
    padding: 1.5%;
    padding-left: 4%;
    font-size: 0.8rem;
    margin-top: 3%;
}
.cuadro-ingresos input{
    margin-left: 4%;
    width: 15%;
}
.ingreso-disponible-calcular{
    align-self: center;
}
.ingreso-disponible-calcular{
    margin-top: 5%;
    width: 50%;
    height: 15%;
    border: none;
    border-radius: 50px;
    color: var(--White);
    font-weight: 1000;
    font-size: 1.5rem;
    background-color: var(--Gray);
}